##### AIM:
To perform reading, data cleaning, processing and writing operations in CSV files using
Pandas package.

In [1]:
import pandas

In [2]:
def fn_compute_gfinal(data_frame):
    # Check if there are any NaN values in the DataFrame
    if data_frame.isnull().values.any():
        print("Detected NaN, replacing with 0")
        data_frame.fillna(0)
    # drop the column 'G3' and add a new column 'Gfinal'
    else:
        data_frame.drop(columns=['G3'], inplace=True);
        data_frame.insert(len(data_frame.columns), 'Gfinal', '');
        # Computes the value of 'Gfinal' column by taking the average of 'G1' and 'G2
        data_frame['Gfinal']=(data_frame['G1'] + data_frame['G2'])*100/40;
        # Create two new DataFrame 'df_50plus' and 'df_below50' based on the 'Gfinal' column.
        df_50plus = data_frame[data_frame['Gfinal'] >= 50]
        df_below50 = data_frame[data_frame['Gfinal'] < 50]
    return df_50plus, df_below50

In [3]:
if __name__ == "__main__":
    #convert the csv to pandas dataframe and assign to data_frame_ip variable
    data_frame_ip = pandas.read_csv("student-mat.csv", delimiter=";")
    df_50plus_op, df_below50_op = fn_compute_gfinal(data_frame_ip)
    #Create two csv files based on whether the result is less than or greater than 50%.Â 
    df_50plus_op.to_csv("result_50plus.csv", sep=',', index=False)
    df_below50_op.to_csv("result_below50.csv", sep=',', index=False)

In [4]:
#display the csv file contains information about students who scored higher than 50%.Â 
result_50plus = pandas.read_csv("result_50plus.csv")
display(result_50plus)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,Gfinal
0,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,72.5
1,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,75.0
2,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,60.0
3,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,85.0
4,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,72.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,50.0
229,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,72.5
230,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,2,11,11,55.0
231,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,75.0
232,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,57.5

In [5]:
#display the csv file contains information about students who scored less than 50%.
result_below50 = pandas.read_csv("result_below50.csv")
display(result_below50)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,Gfinal
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,27.5
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,25.0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,37.5
3,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,40.0
4,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,27.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,40.0
158,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,27.5
159,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,45.0
160,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,45.0
161,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,42.5