##### AIM:
To perform data wrangling using Pandas.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Function to get the mean and median values of MYCT, MMIN, MMAX, CACH, CHMIN, CHMAX, and PRP for each vendor name
def fn_get_model_myct(df):
    # Display the original data frame
    display(df)
    # Calculate mean values for MYCT, MMIN, MMAX, CACH, CHMIN, CHMAX, and PRP for each vendor name
    df_mean = pd.pivot_table(df, values=["MYCT", "MMIN", "MMAX", "CACH", "CHMIN","CHMAX", "PRP"], columns="vendor name", aggfunc = np.mean)
    display(df_mean)
    # Calculate median values for MYCT, MMIN, MMAX, CACH, CHMIN, CHMAX, and PRP for each vendor name
    df_median = pd.pivot_table(df, values=["MYCT", "MMIN", "MMAX", "CACH", "CHMIN","CHMAX", "PRP"], columns="vendor name", aggfunc = np.mean)
    # Store mean values of MYCT for each vendor name in a new data frame
    df_myct_mean = pd.DataFrame({"vendor name" : list(df_mean.columns),"Mean MYCT":df_mean.values.tolist()[5]})
    # Reshape the original data frame to keep only vendor name and model name columns
    df_melt_models = pd.melt(df, id_vars =["vendor name"], value_vars =["Model Name"])
    # Reshape the data frame storing mean MYCT values to keep only vendor name and mean MYCT columns
    df_melt_myct_mean = pd.melt(df_myct_mean, id_vars =["vendor name"], value_vars=["Mean MYCT"])
    # Concatenate the two melted data frames
    data_model_myct = pd.concat([df_melt_models, df_melt_myct_mean], ignore_index=True)
    # Return the concatenated data frame
    return data_model_myct

In [3]:
if __name__ == "__main__":
    # Read the csv file and store it as a pandas data frame
    data_frame_ip = pd.read_csv("machine.data", index_col=None, header=None,
    names=["vendor name", "Model Name", "MYCT", "MMIN", "MMAX", "CACH", "CHMIN","CHMAX", "PRP", "ERP"])
    # Call the function to get the mean and median values of MYCT, MMIN, MMAX, CACH, CHMIN, CHMAX, and PRP for each vendor name
    data_model_myct = fn_get_model_myct(data_frame_ip)
    # Print the final data frame
    print(data_model_myct)

,vendor name,Model Name,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX,PRP,ERP
0,adviser,32/60,125,256,6000,256,16,128,198,199
1,amdahl,470v/7,29,8000,32000,32,8,32,269,253
2,amdahl,470v/7a,29,8000,32000,32,8,32,220,253
3,amdahl,470v/7b,29,8000,32000,32,8,32,172,253
4,amdahl,470v/7c,29,8000,16000,32,8,16,132,132
...,...,...,...,...,...,...,...,...,...,...
204,sperry,80/8,124,1000,8000,0,1,8,42,37
205,sperry,90/80-model-3,98,1000,8000,32,2,8,46,50
206,sratus,32,125,2000,8000,0,2,14,52,41
207,wang,vs-100,480,512,8000,32,0,0,67,47
208,wang,vs-90,480,1000,4000,0,0,0,45,25

vendor name,adviser,amdahl,apollo,basf,bti,burroughs,c.r.d,cambex,cdc,dec,...,microdata,nas,ncr,nixdorf,perkin-elmer,prime,siemens,sperry,sratus,wang
CACH,256.0,56.888889,2.0,65.0,0.0,18.750,2.666667,8.0,45.111111,6.333333,...,0.0,55.052632,32.000000,21.333333,0.333333,12.0,34.666667,44.923077,0.0,16.0
CHMAX,128.0,33.777778,4.0,8.0,18.0,38.375,5.833333,5.4,17.555556,6.500000,...,128.0,13.473684,12.923077,3.666667,7.333333,10.8,13.833333,53.384615,14.0,0.0
CHMIN,16.0,13.333333,1.0,1.0,2.5,5.750,1.000000,3.0,8.333333,1.666667,...,8.0,5.684211,4.923077,1.000000,2.000000,1.4,7.250000,13.230769,2.0,0.0
MMAX,6000.0,37333.333333,3250.0,12000.0,8032.0,4862.500,4500.000000,12000.0,9126.666667,6918.666667,...,4000.0,17894.736842,9923.076923,4666.666667,8000.000000,5200.0,13750.000000,22769.230769,8000.0,6000.0
MMIN,256.0,13333.333333,756.0,3000.0,288.0,2129.500,320.000000,1600.0,2426.666667,756.000000,...,512.0,5368.421053,3615.384615,1333.333333,674.666667,1004.8,4252.000000,2426.769231,2000.0,756.0
MYCT,125.0,26.000000,400.0,55.0,275.0,137.750,320.000000,50.0,46.666667,401.000000,...,150.0,64.421053,55.538462,200.000000,250.000000,160.0,92.750000,101.384615,125.0,480.0
PRP,198.0,416.333333,39.0,115.0,22.5,49.750,42.666667,42.8,130.111111,47.333333,...,30.0,176.894737,63.307692,32.000000,41.666667,53.8,121.833333,254.923077,52.0,56.0

    vendor name    variable       value
0       adviser  Model Name       32/60
1        amdahl  Model Name      470v/7
2        amdahl  Model Name     470v/7a
3        amdahl  Model Name     470v/7b
4        amdahl  Model Name     470v/7c
..          ...         ...         ...
234       prime   Mean MYCT       160.0
235     siemens   Mean MYCT       92.75
236      sperry   Mean MYCT  101.384615
237      sratus   Mean MYCT       125.0
238        wang   Mean MYCT       480.0

[239 rows x 3 columns]